# Dependencies
node_modules/

# Production builds
dist/

# Environment variables & secrets
.env
.env.*
!.env.example

# Logs
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor files
.DS_Store
.vscode/
.idea/node_modules
